$primary_color1:rgb(62, 207, 207);
$primary_color2:rgb(44, 209, 159);
$primary_color3:rgb(51, 59, 66);
$primary_color4:#000;
$primary_color5:rgba(121, 179, 202, 0.397);
$primary_color6:rgb(63, 204, 169);

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    display: flex;
    width: 100%;   
   
    .col:nth-child(n+1):nth-child(-n+5){
        padding: 16px;
        width: 25%;
        margin: 0;
        box-sizing: border-box;

    }
  
 
    h2{
        color:$primary_color3 ;
        text-align: center;
    }
    p{
        color:$primary_color4 ;
        font-size:15px;
    }
  
     div:nth-child(1) {
       background-color:$primary_color1;
    }
    div:nth-child(2) {
        background-color: $primary_color2;
    }
    div:nth-child(3) {
        background-color:$primary_color5 ;
    }
    div:nth-child(4) {
        background-color: $primary_color6;
    }
    .col:nth-child(n+5):nth-child(-n+10){
        display: none;
    }
}



@media only screen and (max-width:600px){
    #main{
     display: block;
        .col:nth-child(n+1):nth-child(-n+5){
            padding: 16px;
            width: 100%;
        }
        .col:nth-child(1)
        {
            border-radius: 15px 15px 0 0;
        }
        .col:nth-child(4)
        {
            border-radius: 0 0 15px 15px;
        }

      /*  .col:nth-child(1){
            width: 100%;
        }
        .col:nth-child(2){
            width: 100%;
        }
        .col:nth-child(3){
            width: 100%;
        }
        .col:nth-child(4){
            width: 100%;
        }*/
}

}